/* page style */

/* parameters for the page title */

.heading {
    color:black;
    font-weight: bolder;
    font-size: 72px;
    text-align: center;
}

/* parameters for all fonts and background color */

* {
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(219, 216, 216);
}

/* parameters for unordered lists */

.lists {
    font-size: 16px;
    color: black;
    line-height: 1.2;
}

/* parameters for ordered lists */

